/* src/components/SidebarLeft/WelcomeCard.module.css */

.card {
    background-color: #fbcfd6;
    padding: 20px;
    border-radius: var(--radius);
    color: #3e3e3e;
    box-shadow: var(--shadow-soft);
    text-align: left;
    line-height: 1.4;
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .title span {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
  }
  
  .subtitle {
    font-size: 13px;
    color: #5b5b5b;
  }
  